body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
#header-background {
    width: 100%;
}
#form-receive-noti {
    background: url("../images/bg-form.png") top left no-repeat;;
    width: 583px;
    height: 577px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#form-receive-noti label {
    color: #ffda00;
    font-size: 22px;
    margin-bottom: 20px;
}
#form-receive-noti input {
    padding: 5px 10px;
    height: 42px;
    border: 2px solid #54462e;
    font-size: 16px;
    background: #3f3118;
    outline: none;
    color: #ffda00;
    width: 330px;
    border-radius: 4px;
}
#form-receive-noti button {
    display: block;
    float: none;
    width: 160px;
    height: 53px;
    line-height: 53px;
    margin: 30px auto 0 auto;
    font-size: 20px;
    text-transform: uppercase;
    color: #caa66d;
    background: url(../images/btn.png) top left no-repeat;
    border: 0;
    cursor: pointer;
}