body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background: black;
}
#header-background {
    width: 100%;
}
#intro-container {
    background: url("../images/background.jpg") top left no-repeat;
    height: 1090px;
}
#intro-container #start-date-container {
    color: white;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 24px;
    text-align: center;
}
#intro-text img {
    opacity: 0.75;
}
#intro-text .new-server-title {
    width: 200px;
    position: relative;
    left: -177px;
    top: 13px;
    opacity: 1;
}
#intro-container #start-date-container .skull-image {
    opacity: 0.7;
    height: 320px;
}
#intro-container #start-date-container .start-date {
    text-align: center;
    background: url(../images/date-bg.png) no-repeat;
    width: 500px;
    height: 140px;
    background-size: contain;
    margin-top: 25px;
    opacity: 0.9;
    margin-left: 40px;
}
#intro-container #start-date-container .start-date .timer {
    display: flex;
    width: 100%;
    padding-top: 26px;
}
.timer .item {
    flex: 1;
    margin-right: 20px;
}
.timer .item.hour {
    padding-top: 8px;
    padding-left: 3px;
}
.timer .item.hour .date, .timer .item.hour .time {
    padding-left: 7px;
}
.timer .item.day {
    padding-top: 10px;
    padding-left: 9px;
}
.timer .item.day .date, .timer .item.day .time {
    margin-left: 14px;
}
.timer .item.month {
    padding-top: 10px;
    padding-left: 16px;
}
.timer .item.year .date {
    margin-top: 10px;
    margin-left: 24px;
}
.timer .item.year .time {
    margin-left: 25px;
}
.timer .item p {
    margin: 0;
}
.timer .item .date {
    color: #ffdf87;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5px;
    line-height: 1;
    text-shadow: 1px 1px 5px #ff3b00
}
.timer .item .time {
    color: #ffdf87;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1;
    text-shadow: 1px 1px 5px #ff3b00;
}
.btn-start-now {
    background-size: cover;
    position: fixed;
    bottom: 60px;
    right: 60px;
}
.btn-start-now img {
    height: 90px;
}
header .links {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 70px;
    background: rgba(11,10,13,0);
    background: -moz-linear-gradient(left, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(11, 10, 13, 0)), color-stop(17%, rgba(11, 10, 13, 0.5)), color-stop(20%, rgba(11, 10, 13, 0.52)), color-stop(100%, #0b0a0d));
    background: -webkit-linear-gradient(left, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    background: -o-linear-gradient(left, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    background: -ms-linear-gradient(left, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    background: linear-gradient(to right, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0b0a0d", endColorstr="#0b0a0d", GradientType=1 );
    z-index: 20;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 40px;
}
header .links a {
    color: white;
    display: inline-block;
    margin-left: 31px;
    line-height: 60px;
    font-size: 18px;
}
header .logo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 70px;
    background: #0b0a0d;
    background: -moz-linear-gradient(left, #0b0a0d 0%, rgba(11, 10, 13, 0.51) 83%, rgba(11, 10, 13, 0.5) 84%, rgba(11, 10, 13, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #0b0a0d), color-stop(83%, rgba(11, 10, 13, 0.51)), color-stop(84%, rgba(11, 10, 13, 0.5)), color-stop(100%, rgba(11, 10, 13, 0)));
    background: -webkit-linear-gradient(left, #0b0a0d 0%, rgba(11, 10, 13, 0.51) 83%, rgba(11, 10, 13, 0.5) 84%, rgba(11, 10, 13, 0) 100%);
    background: -o-linear-gradient(left, #0b0a0d 0%, rgba(11, 10, 13, 0.51) 83%, rgba(11, 10, 13, 0.5) 84%, rgba(11, 10, 13, 0) 100%);
    background: -ms-linear-gradient(left, #0b0a0d 0%, rgba(11, 10, 13, 0.51) 83%, rgba(11, 10, 13, 0.5) 84%, rgba(11, 10, 13, 0) 100%);
    background: linear-gradient(to right, #0b0a0d 0%, rgba(11, 10, 13, 0.51) 83%, rgba(11, 10, 13, 0.5) 84%, rgba(11, 10, 13, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0b0a0d", endColorstr="#0b0a0d", GradientType=1 );
    z-index: 20;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 30px;
}
header .logo-container .logo {
    width: 63px;
    height: 63px;
    background: url(../images/logo.png);
    background-size: contain;
}
.logo-container .info {
    flex: 1;
    padding-left: 10px;
    position: relative;
}
.logo-container .info .t1 {
    color: #fff;
    font-size: 16px;
    padding-bottom: 3px;
    padding-top: 13px;
    margin: 0;
}
.logo-container .info .t2 {
    color: #fff;
    font-size: 11px;
}
header .links a.home::before {
    width: 26px;
    height: 21px;
    background: url(http://mu-hanoi.net/Intro/Gaion/images/ic-home.png) no-repeat;
    top: -2px;
    content: '';
}
header .links a.forum::before {
    width: 26px;
    height: 21px;
    background: url(http://mu-hanoi.net/Intro/Gaion/images/ic-fr.png) no-repeat;
    top: -2px;
    content: '';
}
header .links a.download::before {
    width: 26px;
    height: 21px;
    background: url(http://mu-hanoi.net/Intro/Gaion/images/ic-dl.png) no-repeat;
    top: -2px;
    content: '';
}
header .links a.register::before {
    width: 26px;
    height: 21px;
    background: url(http://mu-hanoi.net/Intro/Gaion/images/ic-r.png) no-repeat;
    top: -2px;
    content: '';
}
.txt-new {
    color: #fb3131;
}
.txt-warning {
    color: #eade47;
}
.txt-red {
    color: orangered;
}
.txt-green {
    color: forestgreen;
}
@keyframes blink {
    0% {
        opacity: 0.9;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 0.9;
    }
}
.blink-image {
    animation: blink normal 2s infinite ease-in-out;
}
.event-box {
    background: url("../images/bg-table.png") no-repeat center 112px;
    width: 990px;
    margin: 0 auto;
    padding: 135px 5px 0;
    position: absolute;
    top: -242px;
    left: 50%;
    margin-left: -495px;
}
.event-box .event-content {
    background: url("../images/bg-table-loop.png") repeat-y center top;
    height: 670px;
    width: 100%;
    display: flex;
}
.event-content-left {
    width: 284px;
    padding: 0 10px;
}
.event-content .banner {
    border: 1px solid #43454e;
    height: 200px;
    width: 670px;
}
.post-container {
    background-position: 0 -584px;
    height: 370px;
    width: 671px;
    background-image: url("../images/home-s9fd54132b9.png");
    background-repeat: no-repeat;
    margin-top: 12px;
}
.post-menu {
    overflow: auto;
}
.post-menu-item {
    background: 0;
    border: 0;
    color: #6997c0;
    display: block;
    float: left;
    padding: 1px 10px 0 10px;
    font: bold 15px/32px Montserrat;
    text-shadow: 2px 2px 2px #000, 0 0 5px #000;
}
.post-menu-item:hover,
.post-menu-item.active {
    background: #363a45;
    border: 1px solid #4a4c56;
    border-bottom: 0;
    color: #d1e1ef;
    padding: 0 9px;
    text-shadow: 2px 2px 2px #002f40, 0 0 5px #002f40
}
.event-item p {
    color: #6997c0;
    font-size: 14px;
    margin: 7px;
}
.post-content {
    clear: both;
    margin-top: 20px;
}
.list-event {
    overflow: auto;
}
.list-event .event-item {
    position: relative;
    border-bottom: 1px solid #333640;
}
.list-event .event-item p.event-date {
    position: absolute;
    right: 25px;
    top: -10px;
    color: #9a9a9e;
}
#event-container {
    position: relative;
    background: url("../images/content.jpg") top left no-repeat;
    height: 870px;
}
.hotro {
    width: 100%;
}
.event-content-left-header img {
    width: 341px;
    position: absolute;
    left: -14px;
}
.event-bottom {
    background: url("../images/page-main-bot.png") no-repeat center bottom;
    height: 130px;
    width: 100%;
}
.event-content-left-menu {
    margin-top: 179px;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}
.event-content-left-menu li {
    background-image: url("../images/menu.png");
    border-radius: 6px;
}
.event-content-left-menu a {
    line-height: 50px;
    color: #c3c8cf;
    text-indent: 25px;
    text-shadow: rgba(255, 255, 255, 0.35) 0px 1px 0px;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-size: 15px;
}
.event-content-left-menu li .menu-dot {
    border-radius: 2px;
    width: 8px;
    height: 8px;
    background: #282f3b;
    display: inline-block;
    margin-right: 6px;
}
.copy-right {
    color: #858585;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}